*{
    border:0;
    margin: 0;
    padding: 0;
}
body{
    background-color: #c598ff36;
    font-family: Quicksand, Helvetica, sans-serif ;


}
#icons-attribution{
    font-size:8px;
    color:rgb(255, 255, 255);
    text-decoration: none;

}
footer{
    text-align: center;
    background-color: #C598FF; 
    padding: 1.2em 1em;
    margin: 2em 0 0 0;
    color:white;
}
@media screen and (min-width: 320px) and (max-width:700px){

    header{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #C598FF;  
        box-shadow: #5e055625 2px 5px 6px;

    }

    #root{
        height:95vh;
    }



    h4{
        text-align: center;
        padding: 1em;
        font-size: 1.5em;
        color: white;
        font-weight: 400;
    }

    h3{
        text-align: center;
        margin-top: 1.5em;
        font-size: 1.3em;
        line-height: 1.5;
        color: rgb(93, 93, 93);
    }

        /*Mood Component*/
    #mood-container{
        display: flex;
        align-items: center;
        justify-content: center;
 
    }
    #mood-container div {
        width:30%;
       margin: 2em 0.3em 1em 0.3em;


    }
    .userMood{
        width:100%;
        color:white;
        font-weight: 500;
        border-radius: 15px;
        text-align: center;
        padding: 2em 0;
        font-size: 1em;
        box-shadow: #5e055625 2px 5px 6px;
        background-color: #C598FF;
        cursor: pointer;

    }

    .userMood:hover{
        background-color: #8253c0;
    }

    #mood{
        display: none;
        background-size: cover;
        background-position: center;
        width:60%;
       height: 30vh;
        color: white;
        text-align: center;
        margin: 3em auto;
        padding-top: 3em;
        border-radius: 30px;

    }

    #mood p{
        color:rgb(255, 255, 255);
        width: 90%;
        margin: auto;
        margin-top:-5.8em;
        padding: 0.4em;
        border-radius: 50px;
        box-shadow: #27212f21 1px 0px 10px ;
        background-color: #8e65c463;

    }

    /*Weather Component*/
    .weather_container{
        width:90%;
        text-align: center;
        margin: 2em auto;
        color:white;
        padding: 2em 0;
        border-radius:10px;
        background-color: #8253c0b6;
        box-shadow: #241d2c5e 1px 4px 10px;
    }
}

/*For tablets*/

    @media screen and (min-width: 701px) and (max-width:1200px){

        header{
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: #C598FF;  
            box-shadow: #5e055625 2px 5px 6px;
    
        }
    
        #root{
            height:95vh;
        }
    
        footer{
            text-align: center;
        }
    
        h4{
            text-align: center;
            padding: 1em;
            font-size: 1.5em;
            color: white;
            font-weight: 400;
        }
    
        h3{
            text-align: center;
            margin-top: 4em;
            font-size: 1.3em;
            line-height: 1.5;
            color: rgb(93, 93, 93);
        }
    
        #mood-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width:60%;
            margin: auto;
     
        }
        #mood-container div {
            width:30%;
           margin: 2em 0.3em 1em 0.3em;
        }

        .userMood{
            width:100%;
            color:white;
            font-weight: 500;
            border-radius: 15px;
            text-align: center;
            padding: 2em 0;
            font-size: 1em;
            box-shadow: #5e055625 2px 5px 6px;
            background-color: #C598FF;
            cursor: pointer;
    
        }

        .userMood:hover{
            background-color: #8253c0;
        }


        #mood{
            display: none;
            background-size: cover;
            background-position: center;
            width: 40%;
            height: 50vh;
            color: white;
            text-align: center;
            margin: 3em auto;
            padding-top: 3em;
            border-radius: 30px;
    
        }
    
        #mood p{
            color:rgb(255, 255, 255);
            width: 90%;
            margin: auto;
            margin-top:-2em;
            padding: 0.4em;
            border-radius: 50px;
            box-shadow: #27212f21 1px 0px 10px ;
            background-color: #8e65c463;
    
        }
    
}

@media screen and (min-width: 1201px){
    header{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #C598FF;  
        box-shadow: #5e055625 2px 5px 6px;

    }

    #root{
        height:95vh;

    }

    footer{
        text-align: center;
    }

    h4{
        text-align: center;
        padding: 1em;
        font-size: 1.5em;
        color: white;
        font-weight: 400;
    }

    h3{
        text-align: center;
        margin-top: 4em;
        font-size: 2em;
        line-height: 1.5;
        color: rgb(93, 93, 93);
    }

    #mood-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width:1000px;
        margin: auto;
 
    }
    #mood-container div {
        width:20%;
       margin: 2em 0.3em 1em 0.3em;
    }

    .userMood{
        width:100%;
        color:white;
        font-weight: 500;
        border-radius: 15px;
        text-align: center;
        padding: 1em 0;
        font-size: 1.3em;
        box-shadow: #5e055625 2px 5px 6px;
        background-color: #C598FF;
        cursor: pointer;

    }

    .userMood:hover{
        background-color: #8253c0;
    }


    #mood{
        display: none;
        background-size: cover;
        background-position: center;
        width: 300px;
        height: 200px;
        color: white;
        text-align: center;
        margin: 5vh auto;
        padding-top: 5em;
        border-radius: 30px;

    }

    #mood p{
        color:rgb(255, 255, 255);
        width: 50%;
        margin: auto;
        margin-top:-5em;
        padding: 0.4em;
        border-radius: 50px;
        box-shadow: #27212f21 1px 0px 10px ;
        background-color: #8e65c463;

    }
}
